body {
    font-family: 'Inter';
    margin: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

button {
    margin-top: 20px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.custom-navbar {
    background-color: #cceeff;
    border-bottom: 1px solid #99ccff;
}
.custom-navbar .nav-link {
    color: #003366 ;
    font-weight: 500;
}
.custom-navbar .nav-link:hover {
    color: #005580;
}
